obj/project.nuget.cache
.vscode/launch.json
.vscode/tasks.json
obj/dsa.csproj.nuget.dgspec.json
obj/dsa.csproj.nuget.g.props
obj/dsa.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/dsa.AssemblyInfo.cs
obj/Debug/net5.0/dsa.AssemblyInfoInputs.cache
obj/Debug/net5.0/dsa.assets.cache
obj/Debug/net5.0/dsa.csproj.AssemblyReference.cache
obj/Debug/net5.0/dsa.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net5.0/dsa.deps.json
bin/Debug/net5.0/dsa.dll
bin/Debug/net5.0/dsa.pdb
bin/Debug/net5.0/dsa.runtimeconfig.dev.json
bin/Debug/net5.0/dsa.runtimeconfig.json
bin/Debug/net5.0/ref/dsa.dll
obj/Debug/net5.0/dsa.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/dsa.csproj.FileListAbsolute.txt
obj/Debug/net5.0/dsa.csprojAssemblyReference.cache
obj/Debug/net5.0/dsa.dll
obj/Debug/net5.0/dsa.genruntimeconfig.cache
obj/Debug/net5.0/dsa.pdb
obj/Debug/net5.0/ref/dsa.dll
